<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.DataDictionaryDao">
	<resultMap type="com.centit.framework.system.po.DataDictionary" id="datadictionary">
       <result property="catalogCode" column="CATALOGCODE" />
       <result property="dataCode" column="DATACODE" />
       <result property="extraCode" column="EXTRACODE" />
		<result property="extraCode2" column="EXTRACODE2" />
		<result property="dataTag" column="DATATAG" />
		<result property="dataValue" column="DATAVALUE" />
		<result property="dataStyle" column="DATASTYLE" />
		<result property="dataOrder" column="DATAORDER" />
		<result property="dataDesc" column="DATADESC" />
		<result property="createDate" column="CREATEDATE" />
		<result property="lastModifyDate" column="LASTMODIFYDATE" />
	</resultMap>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="datacode != null    and datacode != ''   ">
			  and u.DATACODE = #{dataCode}
		</if>
		<if test="catalogCode != null  and catalogCode != ''  " >
			  and u.CATALOGCODE = #{catalogCode}
		</if>
		<if test="dataCode != null  and dataCode != ''   ">
			  and u.DATACODE like '%'||#{dataCode}||'%'    
		</if>
		<if test="catalogCode != null  and catalogCode != ''   ">
			  and u.CATALOGCODE like '%'||#{catalogCode}||'%'  
		</if>
		
		 <if test="NP_system != null   ">
			  and u.dataStyle='S'
	     </if>
		
		<if test="dataValue != null  and dataValue != ''   ">
			  and u.DATAVALUE like '%'||#{dataValue}||'%' 
		</if>
	</sql>
	
	<!-- 查询核心SQL -->
	<sql id="coreSql">
		<![CDATA[ 
			select 
			         CATALOGCODE,
					  DATACODE,
					  EXTRACODE,
					  EXTRACODE2,
					  DATATAG,
					  DATAVALUE,
					  DATASTYLE,
					  DATADESC,
					  LASTMODIFYDATE,
					  CREATEDATE,
					  DATAORDER
		      from F_DATADICTIONARY u
	  ]]>
	</sql>
	
	<!--分页计数 -->
	<select id="pageCount" parameterType="map" resultType="int">
 	 <![CDATA[
	   select count(0) cnt 
	     from 
             F_DATADICTIONARY u
       ]]>
		<where>
			<include refid="condition" />
		</where>
	</select>
	<!--分页查询 -->
	<select id="pageQuery" parameterType="map" resultMap="datadictionary">
	    <include refid="com.centit.framework.system.dao.BaseDao.pageBegin" />
		<include refid="coreSql" />
		<where>
			<include refid="condition" />
		</where>
		<if test="pageDesc != null ">
			order by ${pageDesc}
		</if>
		<include refid="com.centit.framework.system.dao.BaseDao.pageEnd" />
	</select>
	<!--分页查询结束 -->


   <!--查询单条记录ById -->
	<select id="getObjectById" parameterType="com.centit.framework.system.po.DataDictionaryId" resultMap="datadictionary">
		<include refid="coreSql" />
		<where>
         <![CDATA[ 
	                u.CATALOGCODE=#{catalogCode} and u.DATACODE=#{dataCode}
           ]]>
		</where>
	</select>
	<!--查询单条记录 结束 -->
	
	
    <!--插入新单据 start -->
    <sql id="insertSql">
		   (
		      CATALOGCODE,
			  DATACODE,
			  EXTRACODE,
			  EXTRACODE2,
			  DATATAG,
			  DATAVALUE,
			  DATASTYLE,
			  DATADESC,
			  LASTMODIFYDATE,
			  CREATEDATE,
			  DATAORDER
			)values(
			#{catalogCode,jdbcType=VARCHAR},
			#{dataCode,jdbcType=VARCHAR},
			#{extraCode,jdbcType=VARCHAR},
			#{extraCode2,jdbcType=VARCHAR},
			#{dataTag,jdbcType=VARCHAR},
			#{dataValue,jdbcType=VARCHAR},
			#{dataStyle,jdbcType=VARCHAR},
			#{dataDesc,jdbcType=VARCHAR},
			#{lastModifyDate,jdbcType=DATE},
			#{createDate,jdbcType=DATE},
			#{dataOrder,jdbcType=BIGINT}
			)
	</sql>
	
    <insert id="saveNewObject" parameterType="com.centit.framework.system.po.DataDictionary">
        insert into F_DATADICTIONARY
       <include refid="insertSql" />
	</insert>
   <!--插入新单据 end -->
   
   <!--更新单据 start -->
   <sql id="updSql">
      <set>
		   <if test="extraCode!=null ">
				EXTRACODE = #{extraCode},
			</if>
			<if test="extraCode2!=null ">
				EXTRACODE2 = #{extraCode2},
			</if>
			<if test="dataTag!=null ">
				DATATAG = #{dataTag},
			</if>
			<if test="dataValue!=null ">
				DATAVALUE = #{dataValue},
			</if>
			<if test="dataStyle!=null ">
				DATASTYLE = #{dataStyle},
			</if>
			<if test="dataDesc!=null ">
				DATADESC = #{dataDesc},
			</if>
			<if test="lastModifyDate!=null ">
				LASTMODIFYDATE = #{lastModifyDate},
			</if>
			<if test="createDate!=null ">
				CREATEDATE = #{createDate},
			</if>
			<if test="dataOrder!=null ">
				DATAORDER = #{dataOrder},
			</if>
		</set>
	</sql>
	<update id="update" parameterType="com.centit.framework.system.po.DataDictionary" >
	     update F_DATADICTIONARY
	     <include refid="updSql" />
	     where  CATALOGCODE=#{catalogCode} and DATACODE=#{dataCode}
	</update>
	<!--更新单据 end -->
	
	
	<!--Merge单据 start -->
	<update id="mergeObject" parameterType="com.centit.framework.system.po.DataDictionary" >
	      merge into F_DATADICTIONARY t  
		    using ( select #{catalogCode} as CATALOGCODE ,  #{dataCode} as DATACODE     from dual) t1  
		    on(t.CATALOGCODE = t1.CATALOGCODE and t.DATACODE = t1.DATACODE  )  
		 when not matched then
		   insert
		   <include refid="insertSql" />
		 when matched then 
		 update
		   <include refid="updSql" />   
		    where  CATALOGCODE=#{catalogCode} and DATACODE=#{dataCode}
	</update>
	<!--Merge单据 end -->
	
	
	<!--删除记录  -->
	
	<delete id="deleteObject" parameterType="com.centit.framework.system.po.DataDictionary" >
    <![CDATA[ 
       delete from F_DATADICTIONARY where CATALOGCODE=#{catalogCode} and DATACODE=#{dataCode} 
     ]]>
	</delete>
	<delete id="deleteObjectById" parameterType="com.centit.framework.system.po.DataDictionaryId" >
    <![CDATA[ 
       delete from F_DATADICTIONARY where CATALOGCODE=#{catalogCode} and DATACODE=#{dataCode} 
     ]]>
	</delete>
	<delete id="deleteDictionary" parameterType="String">
    <![CDATA[ 
          delete from F_DATADICTIONARY where CATALOGCODE=#{catalogCode} 
     ]]>
	</delete>
	<!--删除记录 结束 -->


	<select id="getWholeDictionary"  resultMap="datadictionary">
		 <include refid="coreSql" />
	</select>
	
	<select id="listDataDictionary"  parameterType="String" resultMap="datadictionary">
		 <include refid="coreSql" />
			  WHERE 
			       catalogCode=#{catalogCode}  
			  ORDER BY 
			      dataOrder	
	</select>
	
</mapper>