<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.InnerMsgRecipientDao">
	<resultMap type="com.centit.framework.system.po.InnerMsgRecipient" id="InnerMsgRecipient">
       <result property="id" column="ID" />
       <result property="msgCode" column="MSGCODE" />
       <result property="receive" column="RECEIVE" />
		<result property="replyMsgCode" column="REPLYMSGCODE" />
		<result property="receiveType" column="RECEIVETYPE" />
		<result property="mailType" column="MAILTYPE" />
		<result property="msgState" column="MSGSTATE" />
	</resultMap>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="RECEIVE != null  and RECEIVE != ''  ">
			  and u.RECEIVE = #{RECEIVE}
		</if>
		<if test="sender != null  and sender != ''  ">
			  and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where SENDER =#{sender} )
		</if>
		 <if test="msgContent != null   and msgContent != ''   ">
			  and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where MSGCONTENT like '%'|| #{msgContent}||'%'  )
	   </if>
		<if test="msgTitle != null  and msgTitle != ''  ">
			  and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where MSGTITLE like '%'|| #{msgTitle}||'%' )
		</if>
		<if test="mailType != null  and mailType != ''  ">
			  and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where MAILTYPE = #{mailType} )
		</if>
		<if test="mailTypeNot != null  and mailTypeNot != ''  ">
			   and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where MAILTYPE != #{mailType} )
		</if>
		<if test="msgStateNot != null  and msgStateNot != ''   ">
			  and u.MSGSTATE != #{msgStateNot}
		</if>
		<if test="innerMsgStateNot != null  and innerMsgStateNot != ''  ">
			   and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where MSGSTATE != #{msgStateNot} )
		</if>
		<if test="MSGSTATE != null  and MSGSTATE != ''  ">
			  and u.MSGSTATE =#{MSGSTATE}
		</if>
		<if test="msgType != null  and msgType != ''  ">
			  and u.MSGCODE in ( select  MSGCODE from M_InnerMsg where MAILTYPE = #{mailType} )
		</if>
	</sql>
	
	<!-- 查询核心SQL -->
	<sql id="coreSql">
		<![CDATA[ 
			select 
			        u.ID,
					u.MSGCODE,
					u.RECEIVE,
					u.REPLYMSGCODE,
					u.RECEIVETYPE,
					u.MAILTYPE,
					u.MSGSTATE
		      from M_InnerMsg_Recipient u
	  ]]>
	</sql>
	
	<!--分页计数 -->
	<select id="pageCount" parameterType="map" resultType="int">
 	 <![CDATA[
	   select count(0) cnt 
	     from 
             M_InnerMsg_Recipient u
       ]]>
		<where>
			<include refid="condition" />
		</where>
	</select>
	<!--分页查询 -->
	<select id="pageQuery" parameterType="map" resultMap="InnerMsgRecipient">
	    <include refid="com.centit.framework.system.dao.BaseDao.pageBegin" />
		<include refid="coreSql" />
		<where>
			<include refid="condition" />
		</where>
		<if test="pageDesc != null ">
			order by ${pageDesc}
		</if>
		<include refid="com.centit.framework.system.dao.BaseDao.pageEnd" />
	</select>
	<!--分页查询结束 -->


   <!--查询单条记录ById -->
	<select id="getObjectById" parameterType="String" resultMap="InnerMsgRecipient">
		<include refid="coreSql" />
		<where>
         <![CDATA[ 
	                u.ID=#{id} 
           ]]>
		</where>
	</select>
	<!--查询单条记录 结束 -->
	
	
    <!--插入新单据 start -->
    <sql id="insertSql">
		   (
		    ID,
			MSGCODE,
			RECEIVE,
			REPLYMSGCODE,
			RECEIVETYPE,
			MAILTYPE,
			MSGSTATE
			)values(
			#{id},
			#{msgCode},
			#{receive},
			#{replyMsgCode},
			#{receiveType},
			#{mailType},
			#{msgState}
			)
	</sql>
	
    <insert id="saveNewObject" parameterType="com.centit.framework.system.po.InnerMsgRecipient">
        insert into M_InnerMsg_Recipient
       <include refid="insertSql" />
	</insert>
	
	 <insert id="saveObject" parameterType="com.centit.framework.system.po.InnerMsgRecipient">
        insert into M_InnerMsg_Recipient
       <include refid="insertSql" />
	</insert>
	
   <!--插入新单据 end -->
   
   <!--更新单据 start -->
   <sql id="updSql">
      <set>
			<if test="msgCode!=null ">
				MSGCODE = #{msgCode},
			</if>
			<if test="receive!=null ">
				RECEIVE = #{receive},
			</if>
			<if test="replyMsgCode!=null ">
				REPLYMSGCODE = #{replyMsgCode},
			</if>
			<if test="receiveType!=null ">
				RECEIVETYPE = #{receiveType},
			</if>
			<if test="mailType!=null ">
				MAILTYPE = #{mailType},
			</if>
			<if test="msgState!=null ">
				MSGSTATE = #{msgState},
			</if>
		</set>
	</sql>
	<update id="update" parameterType="com.centit.framework.system.po.InnerMsgRecipient" >
	     update M_InnerMsg_Recipient
	     <include refid="updSql" />
	     where  ID=#{id} 
	</update>
	<!--更新单据 end -->
	
	
	<!--Merge单据 start -->
	<update id="mergeObject" parameterType="com.centit.framework.system.po.InnerMsgRecipient" >
	      merge into M_InnerMsg_Recipient t  
		    using ( select #{id} as ID  from dual) t1  
		    on(t.ID = t1.ID)  
		 when not matched then
		   insert
		   <include refid="insertSql" />
		 when matched then 
		 update
		   <include refid="updSql" />   
		    where ID=#{id}
	</update>
	<!--Merge单据 end -->
	
	
	<!--删除记录  -->
	<delete id="deleteObjectById" parameterType="String" timeout="2000">
    <![CDATA[ 
       delete from M_InnerMsg_Recipient where ID=#{id} 
     ]]>
	</delete>
	
	<delete id="deleteObject" parameterType="com.centit.framework.system.po.InnerMsgRecipient" >
    <![CDATA[ 
       delete from M_InnerMsg_Recipient where ID=#{id} 
     ]]>
	</delete>
	<!--删除记录 结束 -->
	
	<select id="listObjects" parameterType="map"  resultMap="InnerMsgRecipient">
		 <include refid="coreSql" />
		 <where>
			<include refid="condition" />
		</where>
	</select>
	
	<select id="getExchangeMsgs"  resultMap="InnerMsgRecipient" parameterType="map" >
		 <include refid="coreSql" />
		 where  ( (u.MSGCODE in (Select MSGCODE from M_InnerMsg where SENDER= #{sender} and (MAILTYPE='I' or MAILTYPE='O')) and RECEIVE= #{receiver})
		 or (u.MSGCODE in(Select MSGCODE from M_InnerMsg where SENDER= #{sender} and (MAILTYPE='I' or MAILTYPE='O')) and RECEIVE= #{receiver} )) order by MSGCODE desc
	</select>
	
	<select id="getUnreadMessageCount"  resultType="int" parameterType="String">
		 select count(1) from M_InnerMsg_Recipient re Where re.RECEIVE = #{userCode} and re.MSGSTATE ='U'
	</select>
	
	<select id="listUnreadMessage"  resultType="int" parameterType="String">
		 select count(1) from M_InnerMsg_Recipient re Where re.RECEIVE = #{userCode} and re.MSGSTATE ='U'  order by re.ID desc
	</select>
</mapper>