<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.OptMethodDao">
	<resultMap type="com.centit.framework.system.po.OptMethod" id="OptMethod">
       <result property="optCode" column="OPTCODE" />
       <result property="optName" column="OPTNAME" />
       <result property="optId" column="OPTID" />
		<result property="optMethod" column="OPTMETHOD" />
		<result property="optDesc" column="OPTDESC" />
		<result property="isInWorkflow" column="ISINWORKFLOW" />
		<result property="optUrl" column="OPTURL" />
		<result property="optReq" column="OPTREQ" />
		<result property="createDate" column="CREATEDATE" />
		<result property="creator" column="CREATOR" />
		<result property="updator" column="UPDATOR" />
		<result property="updateDate" column="UPDATEDATE" />
		<result property="optOrder" column="OPTORDER" />
	</resultMap>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="OPTID != null  and OPTID != ''  ">
			  and u.OPTID = #{OPTID}
		</if>
		<if test="PREOPTID != null   and PREOPTID != ''   ">
			  and u.PREOPTID like '%'|| #{PREOPTID}||'%' 
		</if>
		 <if test="ISINTOOLBAR != null  and ISINTOOLBAR != ''  ">
			  and u.ISINTOOLBAR =#{ISINTOOLBAR}
	   </if>
		<if test="TOPOPTID != null  and TOPOPTID != ''  ">
			  and u.TOPOPTID = #{TOPOPTID}
		</if>
		<if test="OPTTYPE != null  and OPTTYPE != ''   ">
			  and u.OPTTYPE = #{OPTTYPE}
		</if>
		<if test="OPTNAME != null  and OPTNAME != ''  ">
			  and u.OPTNAME like '%'|| #{OPTNAME}||'%' 
		</if>
	</sql>
	
	<!-- 查询核心SQL -->
	<sql id="coreSql">
		<![CDATA[ 
			select 
			        u.OPTCODE,
					u.OPTNAME,
					u.OPTID,
					u.OPTMETHOD,
					u.OPTDESC,
					u.ISINWORKFLOW,
					u.OPTURL,
					u.OPTREQ,
					u.CREATEDATE,
					u.CREATOR,
					u.UPDATOR,
					u.UPDATEDATE,
					u.OPTORDER
		      from F_OPTDEF u
	  ]]>
	</sql>
	
	<!--分页计数 -->
	<select id="pageCount" parameterType="map" resultType="int">
 	 <![CDATA[
	   select count(0) cnt 
	     from 
             F_OPTDEF u
       ]]>
		<where>
			<include refid="condition" />
		</where>
	</select>
	<!--分页查询 -->
	<select id="pageQuery" parameterType="map" resultMap="OptMethod">
	    <include refid="com.centit.framework.system.dao.BaseDao.pageBegin" />
		<include refid="coreSql" />
		<where>
			<include refid="condition" />
		</where>
		<if test="pageDesc != null ">
			order by ${pageDesc}
		</if>
		<include refid="com.centit.framework.system.dao.BaseDao.pageEnd" />
	</select>
	<!--分页查询结束 -->


   <!--查询单条记录ById -->
	<select id="getObjectById" parameterType="String" resultMap="OptMethod">
		<include refid="coreSql" />
		<where>
         <![CDATA[ 
	                u.OPTCODE=#{optCode} 
           ]]>
		</where>
	</select>
	<!--查询单条记录 结束 -->
	
	
    <!--插入新单据 start -->
    <sql id="insertSql">
		   (
		    OPTCODE,
			OPTNAME,
			OPTID,
			OPTMETHOD,
			OPTDESC,
			ISINWORKFLOW,
			OPTURL,
			OPTREQ,
			CREATEDATE,
			CREATOR,
			UPDATOR,
			UPDATEDATE,
			OPTORDER
			)values(
			#{optCode,jdbcType=VARCHAR},
			#{optName,jdbcType=VARCHAR},
			#{optId,jdbcType=VARCHAR},
			#{optMethod,jdbcType=VARCHAR},
			#{optDesc,jdbcType=VARCHAR},
			#{isInWorkflow,jdbcType=VARCHAR},
			#{optUrl,jdbcType=VARCHAR},
			#{optReq,jdbcType=VARCHAR},
			#{createDate,jdbcType=DATE},
			#{creator,jdbcType=VARCHAR},
			#{updator,jdbcType=VARCHAR},
			#{updateDate,jdbcType=DATE},
			#{optOrder,jdbcType=BIGINT}
			)
	</sql>
	
    <insert id="saveNewObject" parameterType="com.centit.framework.system.po.OptMethod">
        insert into F_OPTDEF
       <include refid="insertSql" />
	</insert>
	<!--更新单据 start -->
   <sql id="updSql">
      <set>
			<if test="optName !=null ">
				OPTNAME = #{optName},
			</if>
			<if test="optId !=null ">
				OPTID = #{optId},
			</if>
			<if test="optMethod !=null ">
				OPTMETHOD = #{optMethod},
			</if>
			<if test="optDesc !=null ">
				OPTDESC = #{optDesc},
			</if>
			<if test="isInWorkflow !=null ">
				ISINWORKFLOW = #{isInWorkflow},
			</if>
			<if test="optUrl !=null ">
				OPTURL = #{optUrl},
			</if>
			<if test="optReq !=null ">
				OPTREQ = #{optReq},
			</if>
			<if test="updator !=null ">
				UPDATOR = #{updator},
			</if>
			<if test="updateDate !=null ">
				UPDATEDATE = #{updateDate},
			</if>
			<if test="optOrder !=null ">
				OPTORDER = #{optOrder},
			</if>
		</set>
	</sql>
	<update id="update" parameterType="com.centit.framework.system.po.OptMethod" timeout="2000">
	     update F_OPTDEF
	     <include refid="updSql" />
	     where OPTCODE=#{optCode} 
	</update>
	<!--更新单据 end -->
   
   <!--Merge单据 start -->
	<update id="mergeObject" parameterType="com.centit.framework.system.po.OptMethod" timeout="2000">
	      merge into F_OPTDEF t  
		    using ( select #{optCode} as OPTCODE  from dual) t1  
		    on(t.OPTCODE = t1.OPTCODE)  
		 when not matched then
		   insert
		   <include refid="insertSql" />
		 when matched then 
		 update
		   <include refid="updSql" />   
		    where OPTCODE=#{optCode} 
	</update>
	<!--Merge单据 end -->
   <!--插入新单据 end -->
   
	<!--删除记录  -->
	<delete id="deleteObjectById" parameterType="String" timeout="2000">
    <![CDATA[ 
       delete from F_OPTDEF where OPTCODE=#{optCode} 
     ]]>
	</delete>
	<delete id="deleteObject" parameterType="com.centit.framework.system.po.OptMethod" timeout="2000">
			  delete from F_OPTDEF where OPTCODE=#{optCode} 
	</delete>
	<!--删除记录 结束 -->
	
	<select id="listObjects" parameterType="map"  resultMap="OptMethod">
		 <include refid="coreSql" />
	</select>
	<select id="listOptMethodByOptID" parameterType="String" resultMap="OptMethod">
		<include refid="coreSql" />
		where OPTID=#{sOptID}
	</select>
	<select id="listOptMethodByRoleCode" parameterType="String" resultMap="OptMethod">
		<include refid="coreSql" />
		where OPTCODE in (select id.OPTCODE from F_ROLEPOWER id where id.ROLECODE = #{roleCode}) order by OPTID
	</select>
	<select id="getOptMethodSumByOptID" parameterType="String" resultType="int">
			SELECT count(OPTCODE) from F_OPTDEF WHERE OPTID = #{sOptID}
	</select>
	<delete id="deleteOptMethodsByOptID" parameterType="String">
		delete from F_OPTDEF WHERE OPTID =#{sOptID}
	</delete>
	<select id="getNextOptCode" resultType="String">
		SELECT S_OPTDEFCODE.nextval from dual
	</select>
</mapper>