<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.QueryFilterConditionDao">
	<resultMap type="com.centit.framework.system.po.QueryFilterCondition" id="QueryFilterCondition">
       <result property="conditionNo" column="CONDITIONNO" />
       <result property="tableClassName" column="TABLECLASSNAME" />
       <result property="paramName" column="PARAMNAME" />
		<result property="paramLabel" column="PARAMLABEL" />
		<result property="paramType" column="PARAMTYPE" />
		<result property="defaultValue" column="DEFAULTVALUE" />
		<result property="filterSql" column="FILTERSQL" />
		<result property="selectDataType" column="SELECTDATATYPE" />
		<result property="selectDataCatalog" column="SELECTDATACATALOG" />
		<result property="selectSql" column="SELECTSQL" />
		<result property="selectJson" column="SELECTJSON" />
		<result property="createDate" column="CREATEDATE" />
	</resultMap>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="conditionNo != null  and conditionNo != ''  ">
			  and u.CONDITIONNO = #{conditionNo}
		</if>
		<if test="tableClassName != null and tableClassName != ''  ">
			  and u.TABLECLASSNAME like '%'|| #{tableClassName}||'%' 
		</if>
		 <if test="paramName != null  and paramName != ''  ">
			  and u.PARAMNAME =#{paramName}
	   </if>
		<if test="paramLabel != null  and paramLabel != ''  ">
			  and u.PARAMLABEL = #{paramLabel}
		</if>
		<if test="paramType != null  and paramType != ''  ">
			  and u.PARAMTYPE = #{paramType}
		</if>
		<if test="defaultValue != null  and defaultValue != ''  ">
			  and u.DEFAULTVALUE = #{defaultValue}
		</if>
		<if test="filterSql != null  and filterSql != '' ">
			  and u.FILTERSQL = #{filterSql}
		</if>
		<if test="selectDataType != null  and selectDataType != ''  ">
			  and u.selectDataType=#{SELECTDATATYPE}
		</if>
		<if test="selectDataCatalog != null  and selectDataCatalog != '' ">
			  and u.SELECTDATACATALOG = #{selectDataCatalog}
		</if>
		<if test="selectSql != null  and selectSql != '' ">
			  and u.SELECTSQL = #{selectSql}
		</if>
		<if test="selectJson != null  and selectJson != '' ">
			  and u.SELECTJSON = #{selectJson}
		</if>
	</sql>
	
	<!-- 查询核心SQL -->
	<sql id="coreSql">
		<![CDATA[ 
			select 
			        u.CONDITIONNO,
					u.TABLECLASSNAME,
					u.PARAMNAME,
					u.PARAMLABEL,
					u.PARAMTYPE,
					u.DEFAULTVALUE,
					u.FILTERSQL,
					u.SELECTDATATYPE,
					u.SELECTDATACATALOG,
					u.SELECTSQL,
					u.SELECTJSON,
					u.CREATEDATE
		      from F_QUERY_FILTER_CONDITION u
	  ]]>
	</sql>
	
	<!--分页计数 -->
	<select id="pageCount" parameterType="map" resultType="int">
 	 <![CDATA[
	   select count(0) cnt 
	     from 
             F_QUERY_FILTER_CONDITION u
       ]]>
		<where>
			<include refid="condition" />
		</where>
	</select>
	<!--分页查询 -->
	<select id="pageQuery" parameterType="map" resultMap="QueryFilterCondition">
	   <include refid="com.centit.framework.mybatis.dao.BaseDao.pageBegin" />
		<include refid="coreSql" />
		<where>
			<include refid="condition" />
		</where>
		<if test="pageDesc != null ">
			order by ${pageDesc}
		</if>
		<include refid="com.centit.framework.mybatis.dao.BaseDao.pageEnd" />
	</select>
	<!--分页查询结束 -->


   <!--查询单条记录ById -->
	<select id="getObjectById" parameterType="String" resultMap="QueryFilterCondition">
		<include refid="coreSql" />
		<where>
         <![CDATA[ 
	                u.CONDITIONNO=#{filterNo} 
           ]]>
		</where>
	</select>
	<!--查询单条记录 结束 -->
	
	
    <!--插入新单据 start -->
    <sql id="insertSql">
		   (
			CONDITIONNO,
			TABLECLASSNAME,
			PARAMNAME,
			PARAMLABEL,
			PARAMTYPE,
			DEFAULTVALUE,
			FILTERSQL,
			SELECTDATATYPE,
			SELECTDATACATALOG,
			SELECTSQL,
			SELECTJSON,
			CREATEDATE
			)values(
			#{conditionNo},
			#{tableClassName},
			#{paramName},
			#{paramLabel},
			#{paramType},
			#{defaultValue},
			#{filterSql},
			#{selectDataType},
			#{selectDataCatalog},
			#{selectSql},
			#{selectJson},
			#{createDate}
			)
	</sql>
	
    <insert id="saveNewObject" parameterType="com.centit.framework.system.po.QueryFilterCondition">
        insert into F_QUERY_FILTER_CONDITION
       <include refid="insertSql" />
	</insert>
	<!--更新单据 start -->
   <sql id="updSql">
      <set>
			<if test="conditionNo !=null ">
				CONDITIONNO = #{conditionNo},
			</if>
			<if test="tableClassName !=null ">
				TABLECLASSNAME = #{tableClassName},
			</if>
			<if test="paramName !=null ">
				PARAMNAME = #{paramName},
			</if>
			<if test="paramLabel !=null ">
				PARAMLABEL = #{paramLabel},
			</if>
			<if test="paramType !=null ">
				PARAMTYPE = #{paramType},
			</if>
			<if test="defaultValue !=null ">
				DEFAULTVALUE = #{defaultValue},
			</if>
			<if test="filterSql !=null ">
				FILTERSQL = #{filterSql},
			</if>
			<if test="selectDataType !=null ">
				SELECTDATATYPE = #{selectDataType},
			</if>
			<if test="selectDataCatalog !=null ">
				SELECTDATACATALOG = #{selectDataCatalog},
			</if>
			<if test="selectSql !=null ">
				SELECTSQL = #{selectSql},
			</if>
			<if test="selectJson !=null ">
				SELECTJSON = #{selectJson},
			</if>
		</set>
	</sql>
	<update id="update" parameterType="com.centit.framework.system.po.QueryFilterCondition" timeout="2000">
	     update F_QUERY_FILTER_CONDITION
	     <include refid="updSql" />
	     where CONDITIONNO=#{conditionNo} 
	</update>
	<!--更新单据 end -->
   
   <!--Merge单据 start -->
	<update id="mergeObject" parameterType="com.centit.framework.system.po.QueryFilterCondition" timeout="2000">
	      merge into F_QUERY_FILTER_CONDITION t  
		    using ( select #{conditionNo} as CONDITIONNO  from dual) t1  
		    on(t.CONDITIONNO = t1.CONDITIONNO)  
		 when not matched then
		   insert
		   <include refid="insertSql" />
		 when matched then 
		 update
		   <include refid="updSql" />   
		    where CONDITIONNO=#{conditionNo} 
	</update>
	<!--Merge单据 end -->
   <!--插入新单据 end -->
   
	<!--删除记录  -->
	<delete id="deleteObjectById" parameterType="Long" timeout="2000">
    <![CDATA[ 
       delete from F_QUERY_FILTER_CONDITION where CONDITIONNO=#{filterNo} 
     ]]>
	</delete>
	<!--删除记录 结束 -->
	
	<select id="getNextKey" databaseId="oracle" resultType="Long">
		SELECT S_FILTER_NO.nextval from dual
	</select>

	<select id="getNextKey" databaseId="mysql" resultType="Long">
		SELECT sequence_nextval('S_FILTER_NO')
	</select>
</mapper>