<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.system.dao.UserUnitDao">
	<resultMap type="com.centit.framework.system.po.UserUnit" id="UserUnit">
			<result property="userUnitId" column="USERUNITID" />
			<result property="unitCode" column="UNITCODE" />
			<result property="userCode" column="USERCODE" />
			<result property="userStation" column="USERSTATION" />
			<result property="userRank" column="USERRANK" />
			<result property="rankMemo" column="RANKMEMO" />
			<result property="isPrimary" column="ISPRIMARY" />
			<result property="userOrder" column="USERORDER" />
			<result property="createDate" column="CREATEDATE" />
			<result property="unitName" column="UNITNAME" />
			<result property="creator" column="CREATOR" />
			<result property="updator" column="UPDATOR" />
			<result property="updateDate" column="UPDATEDATE" />
	</resultMap>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="USERCODE_ISVALID != null  and USERCODE_ISVALID != '' ">
			  and u.USERCODE in (select USERCODE from F_USERINFO where ISVALID =#{USERCODE_ISVALID})
		</if>
		<if test="unitCode != null  and unitCode != '' ">
			  and u.UNITCODE =#{unitCode}
		</if>
		<if test="userStation != null  and userStation != '' ">
			  and u.USERSTATION  = #{userStation}
		</if>
		<if test="unitRank != null   and unitRank != '' ">
			  and u.UNITRANK  = #{unitRank}
		</if>
		<if test="userCode != null   and userCode != ''  ">
			  and u.USERCODE  = #{userCode}
		</if>
		<if test="isPrimary != null  and isPrimary != '' ">
			  and u.ISPRIMARY  = #{isPrimary}
		</if>
		<if test="unitName != null  and unitName != '' ">
			  and k.UNITNAME like '%'|| #{unitName}||'%'
		</if>
	</sql>
	
	<!-- 查询核心SQL -->
	<sql id="coreSql">
		<![CDATA[ 
			select 
				u.USERUNITID,
				u.UNITCODE,
				u.USERCODE,
				u.USERSTATION,
				u.USERRANK,
				u.RANKMEMO,
				u.ISPRIMARY,
				u.USERORDER,
				u.CREATEDATE,
				k.UNITNAME,
				u.CREATOR,
				u.UPDATOR,
				u.UPDATEDATE
		      from F_USERUNIT u left join F_UNITINFO k on u.UNITCODE=k.UNITCODE
	  ]]>
	</sql>
	
	<!--分页计数 -->
	<select id="pageCount" parameterType="map" resultType="int">
 	 <![CDATA[
	   select count(0) cnt 
	     from 
             F_USERUNIT u
       ]]>
		<where>
			<include refid="condition" />
		</where>
	</select>
	<!--分页查询 -->
	<select id="pageQuery" parameterType="map" resultMap="UserUnit">
	    <include refid="com.centit.framework.system.dao.BaseDao.pageBegin" />
		<include refid="coreSql" />
		<where>
			<include refid="condition" />
		</where>
		<if test="pageDesc != null ">
			order by ${pageDesc}
		</if>
		<include refid="com.centit.framework.system.dao.BaseDao.pageEnd" />
	</select>
	<!--分页查询结束 -->
<!--查询单条记录ById -->
	<select id="getObjectById" parameterType="String" resultMap="UserUnit">
		<include refid="coreSql" />
		<where>
         <![CDATA[ 
	                u.USERUNITID=#{userUnitId}
           ]]>
		</where>
	</select>
	<!--查询单条记录 结束 -->
	
    <!--插入新单据 start -->
    <sql id="insertSql">
		   (
			USERUNITID,
			UNITCODE,
			USERCODE,
			USERSTATION,
			USERRANK,
			RANKMEMO,
			ISPRIMARY,
			USERORDER,
			CREATEDATE,
			CREATOR,
			UPDATOR,
			UPDATEDATE
			)values(
			#{userUnitId,jdbcType=VARCHAR},
			#{unitCode,jdbcType=VARCHAR},
			#{userCode,jdbcType=VARCHAR},
			#{userStation,jdbcType=VARCHAR},
			#{userRank,jdbcType=VARCHAR},
			#{rankMemo,jdbcType=VARCHAR},
			#{isPrimary,jdbcType=VARCHAR},
			#{userOrder,jdbcType=BIGINT},
			#{createDate,jdbcType=DATE},
			#{creator,jdbcType=VARCHAR},
			#{updator,jdbcType=VARCHAR},
			#{updateDate,jdbcType=DATE}
			)
	</sql>
	<insert id="saveNewObject" parameterType="com.centit.framework.system.po.UserUnit">
        insert into F_USERUNIT
       <include refid="insertSql" />
	</insert>
	<!--更新单据 start -->
   <sql id="updSql">
      <set>
<!-- 			<if test="userUnitId !=null ">  -->
<!-- 					USERUNITID  =  #{userUnitId},  -->
<!-- 			</if>  -->
			<if test="unitCode !=null "> 
					UNITCODE  =  #{unitCode}, 
			</if> 
			<if test="userCode !=null "> 
					USERCODE  =  #{userCode}, 
			</if> 
			<if test="userStation !=null "> 
					USERSTATION  =  #{userStation}, 
			</if> 
			<if test="userRank !=null "> 
					USERRANK  =  #{userRank}, 
			</if> 
			<if test="rankMemo !=null "> 
					RANKMEMO  =  #{rankMemo}, 
			</if> 
			<if test="isPrimary !=null "> 
					ISPRIMARY  =  #{isPrimary}, 
			</if> 
			<if test="userOrder !=null "> 
					USERORDER  =  #{userOrder}, 
			</if> 
			<if test="createDate !=null "> 
					CREATEDATE  =  #{createDate}, 
			</if> 
			<if test="creator !=null "> 
					CREATOR  =  #{creator}, 
			</if> 
			<if test="updator !=null "> 
					UPDATOR  =  #{updator}, 
			</if> 
			<if test="updateDate !=null "> 
					UPDATEDATE  =  #{updateDate}, 
			</if> 
		</set>
	</sql>
	<update id="updateObject" parameterType="com.centit.framework.system.po.UserUnit" timeout="2000">
	     update F_USERUNIT
	     <include refid="updSql" />
	     where   USERUNITID=#{userUnitId}
	</update>
	<!--更新单据 end -->
   
   <!--Merge单据 start -->
	<update id="mergeObject" parameterType="com.centit.framework.system.po.UserUnit" timeout="2000">
	      merge into F_USERUNIT t  
		    using ( select #{userUnitId} as USERUNITID    from dual) t1  
		    on(t.USERUNITID = t1.USERUNITID )  
		 when not matched then
		   insert
		   <include refid="insertSql" />
		 when matched then 
		 update
		   <include refid="updSql" />   
		    where USERUNITID=#{userUnitId} 
	</update>
	<!--Merge单据 end -->
   <!--插入新单据 end -->
   
	<!--删除记录  -->
	<delete id="deleteObject" parameterType="com.centit.framework.system.po.UserUnit" timeout="2000">
    <![CDATA[ 
       delete from F_USERUNIT where USERUNITID=#{userUnitId} 
     ]]>
	</delete>
	<delete id="deleteObjectById" parameterType="String" timeout="2000">
    <![CDATA[ 
       delete from F_USERUNIT where USERUNITID=#{userUnitId} 
     ]]>
	</delete>
	<!--删除记录 结束 -->
	<select id="listObjectsAll"  resultMap="UserUnit">
		 <include refid="coreSql" />
	</select>
	<select id="listObjects" parameterType="map"  resultMap="UserUnit">
		 <include refid="coreSql" />
		 <where>
			<include refid="condition" />
		</where>
	</select>
	<select id="listUserUnitsByUserCode" parameterType="String"  resultMap="UserUnit">
		 <include refid="coreSql" />
		 where USERCODE=#{userId}
	</select>
	<select id="listObjectByUserUnit" parameterType="map"  resultMap="UserUnit">
		 <include refid="coreSql" />
		 where USERCODE=#{userCode}  and UNITCODE=#{unitCode}
	</select>
	<select id="getNextKey" resultType="Long">
		SELECT S_USER_UNIT_ID.nextval from dual
	</select>
	<delete id="deleteOtherPrimaryUnit" parameterType="com.centit.framework.system.po.UserUnit" >
	<![CDATA[
		update F_USERUNIT set ISPRIMARY='F',LASTMODIFYDATE= sysdate
		where USERCODE = #{userCode} and (unitCode <> #{unitCode} or USERSTATION <> #{userStation} or USERRANK <> #{userRank}) and isPrimary='T'
	]]>
	</delete>
	<delete id="deleteUserUnitByUser" parameterType="String">
		delete F_USERUNIT  where USERCODE = #{userCode}
	</delete>
	<delete id="deleteUserUnitByUnit" parameterType="String">
		delete F_USERUNIT  where USERCODE = #{userCode}
	</delete>
	<select id="getPrimaryUnitByUserId" parameterType="String" resultMap="UserUnit">
		<include refid="coreSql" />
		where USERCODE=#{userId} and ISPRIMARY='T'
	</select>
	<select id="listUnitUsersByUnitCode" parameterType="String" resultMap="UserUnit">
		<include refid="coreSql" />
		where USERCODE=#{unitCode} 
	</select>
	<select id="listUserUnitsByRoleAndUnit" parameterType="String" resultMap="UserUnit">
		${SQL}
	</select>
	<select id="listUserUnitByIds" parameterType="String" resultMap="UserUnit">
		<include refid="coreSql" />
		<if test="ids != null ">
		<foreach item="id" collection="ids" 
			open="  and   u.userUnitId in (" close=")" index="">
			#{id, jdbcType=String}
		</foreach>
	  </if>
	</select>
</mapper>