<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.framework.mybatis.dao.BaseDao">

	<!-- mybatis oracle 分页实现 -->
	<!-- select * from (select row_.*, rownum rownum_ from ( select * from table ) row_ where rownum <= #endRow# ) where rownum_ > #startRow# -->
	
	<!-- 分页前面包装部分 oracle -->
	<sql id="pageBegin" databaseId="oracle" >
		       <![CDATA[ select t.* from (select row_.*, rownum rownum_ from ( ]]>
	</sql>

	<!-- 分页后面包装部分 oracle -->
	<sql id="pageEnd" databaseId="oracle" >
			 <![CDATA[ ) row_  where rownum <= #{endRow} ) t where t.rownum_ > #{startRow} ]]>
	</sql>

	<!-- 分页前面包装部分 mysql -->
	<sql id="pageBegin" databaseId="mysql" >
		<![CDATA[ ]]>
	</sql>

	<!-- 分页后面包装部分 mysql -->
	<sql id="pageEnd" databaseId="mysql" >
		<![CDATA[  limit #{startRow}, #{maxSize}]]>
	</sql>


	<!-- 分页前面包装部分 sqlserver -->
	<sql id="pageBegin" databaseId="sqlserver"  >
		<![CDATA[ WITH query AS (
    	    		 SELECT inner_query.* , ROW_NUMBER() OVER (ORDER BY CURRENT_TIMESTAMP) as __row_nr__
    	    		  FROM ( ]]>
	</sql>

	<!-- 分页后面包装部分 sqlserver -->
	<sql id="pageEnd" databaseId="sqlserver" >
		<![CDATA[  ) inner_query )
    	    		  SELECT query.* FROM query WHERE __row_nr__ >= #{startRow}
    	    		  AND __row_nr__ < #{endRow} ]]>
	</sql>


	<!-- 分页前面包装部分 db2 -->
	<sql id="pageBegin" databaseId="db2" >
		<![CDATA[ select * from ( select inner2_.*, rownumber() over( order by order of inner2_) as rownumber_
 			from ( ]]>
	</sql>

	<!-- 分页后面包装部分 sqlserver -->
	<sql id="pageEnd" databaseId="db2" >
		<![CDATA[  fetch first #{endRow}  rows only ) as inner2_ ) as inner1_ where rownumber_ >
				#{startRow} order by rownumber_ ]]>
	</sql>

</mapper>

